<html>
    <head>
        <title>Index</title>
        <link rel="stylesheet" href="styles/main.css">
    </head>
    <body>
        <%- include('../partials/header') %>
        <main>
            <h2>All Messages</h2>
            <div class="messages">
                <% messages.forEach(message => { %>
                    <div class="message" data-index=<%= message.id %> onclick="window.location.href='/messages/<%= message.id %>'">
                        <p><%= message.text %></p>
                        <p><%= message.user %>, <%= message.added %></p>
                    </div>
                <% }) %>
            </div>
        </main>
        <%- include('../partials/footer') %>
    </body>
</html>
